<div *ngIf="model">
  <form (ngSubmit)="onSubmit()" #mainServieForm="ngForm" id="mainServieForm">

    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title" style="width:200px;">
    </div>

    <div class="form-group">
      <label for="text">Texte</label>
      <textarea [froalaEditor] [(ngModel)]="model.text" id="text" name="text"></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" id="image" name="image" (change)="uploadImage($event)" #fileInput style="width:300px;">
      <div *ngIf="model.image">
        <img src="{{getImageUrl()}}" alt="Generic placeholder image" height="300">
      </div>
    </div>

    <button type="submit">Sauvegarder</button>
    <button *ngIf="(model.id || model.id === 0)" type="button" name="delete" id="delete" class="pull-right" (click)="delete()">Supprimer</button>
  </form>
</div>
