<div *ngIf="model">
  <form (ngSubmit)="onSubmit()" #mainServieForm="ngForm" id="mainServieForm">

    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title" style="width:200px;">
    </div>

    <div class="form-group">
      <label for="text">Texte</label>
      <textarea [froalaEditor] [(ngModel)]="model.text" id="text" name="text"></textarea>
    </div>

    <div class="form-group">
      <label for="articles">Articles</label>
      <select *ngFor="let article of model.articles; let i = index" class="form-control" id="article-{{i}}"
          required
          [(ngModel)]="model.articles[i]" name="article-{{i}}"
          style="width:200px;">
        <option *ngFor="let availableArticle of serviceService.articles" [value]="availableArticle.id">{{availableArticle.id}}</option>
      </select>
      <button type="button" (click)="model.articles.push('')">+</button>
    </div>

    <div class="form-group">
      <label for="important">Important</label>
      <textarea [froalaEditor] [(ngModel)]="model.important" id="important" name="important"></textarea>
    </div>

    <button type="submit">Sauvegarder</button>
  </form>
</div>
