
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="hvr-underline-from-center">Service <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li *ngFor="let summary_service of summary_services" class="dropdown-submenu">
          <a routerLink="/services/{{summary_service.id}}" class="dropdown-toggle" data-toggle="dropdown">
            <div class="link-container"><span class="link-text">{{summary_service.title}}</span></div>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let sub_service of summary_service.subServices">
              <a routerLink="/services/{{summary_service.id}}/sub-services/{{sub_service.id}}" >
                <div class="link-container"><span class="link-text">{{sub_service.title}}</span></div>
              </a>
            </li>
            <li>
              <a routerLink="/services/{{summary_service.id}}/sub-services/create"  style="text-align: center">
                <div class="link-container"><span class="link-text glyphicon glyphicon-plus"></span></div>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/services/create" style="text-align: center">
            <div class="link-container"><span class="link-text glyphicon glyphicon-plus"></span></div>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="hvr-underline-from-center">Qui sommes-nous ?<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li *ngFor="let introduce of introduces">
          <a routerLink="/introduces/{{introduce.id}}">
            <div class="link-container"><span class="link-text">{{introduce.title}}</span></div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
